<head>
  <title>IceAvoid</title>
  <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="./main.css" type="text/css" />
</head>
<body ng-app="iceavoid">
  <ui-view></ui-view>
  
  <script type="text/javascript" src="./bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="./bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="views/main/ctrl.js"></script>
  <script type="text/javascript" src="directives/map/directive.js"></script>
  <script type="text/javascript" src="services/map-data.js"></script>
  <script type="text/javascript" src="services/api.js"></script>
  <script type="text/javascript" src="services/demo.js"></script>
</body>
</html>