.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background: #464E5B;
    width: 200px;
}

.main {
    margin-left: 210px;
    position: absolute;
    right: 15;
    left: 5;
}
.banner {
    background: #464E5B;
    color: #B1B9CC;
}

.bottom-menu {
    position: fixed;
    bottom: 50px;
    left: 50px;
}

.menu {
  color: #B1B9CC;  
}

canvas {
    margin: 20px;
    border: 1px solid black;
}

.coord{
    margin: 10px;
}