<div class="container-fluid">
  <div class="row">
    <div class="sidebar">
      <h3 class="menu">Menu</h3>
      <div class="row">
        <button class="btn btn-primary" ng-click="main.defineRoute()">Define A/B Route Points</button>
      </div>
      <div class="row">
        <button class="btn btn-primary"ng-click="main.createPolygon()" ng-if="main.mode !== 'polygon'">Create Iceberg</button>
        <button class="btn btn-primary"ng-click="main.finishPolygon()" ng-if="main.mode === 'polygon'">Finish Iceberg</button>
      </div>
      <div class="row bottom-menu">
        <button class="btn btn-danger" ng-click="main.reset()">Reset</button> <br />
        <button class="btn btn-warning" ng-click="main.demo()">Demo</button>
        <button class="btn btn-warning" ng-click="main.solve()">Go</button>
      </div>
      
    </div>
    <div class="main text-center">
      <div class="row">
        <div class="col-xs-12 banner">
          <h1>IceAvoid</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <map polygons="main.polygons" path="main.path" point-a="main.PointA" point-b="main.PointB" mode="main.mode"></map>
          </div>
          <div class="row">
            <div class="col-sm-12" ng-if="main.mode == ''">
              <label for="">Create route points and icebergs using the menu.</label> <br />
              <label for="">Press Go to find the shortest route. Press Demo to use demo data and find the shortest route.</label>
            </div>
            <div class="col-sm-12" ng-if="main.mode == 'route'">
              <label for="">Please define the A and B points between which the ship needs to navigate.</label>
            </div>
            <div class="col-sm-12" ng-if="main.mode == 'polygon'">
              <label for="">Click on the map to create edge points. Click on Finish Iceberg to finish the shape.</label>
            </div>
          </div>
          <div class="row" ng-if="main.mapData.path.length > 0">
            Shortest Path: 
            <div ng-repeat="point in main.mapData.path">
              <div class="col-sm-3 well text-left coord">
                x: {{point.x}} <br>
                y: {{point.y}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>